main {
  min-height: 100vh;
  background-color: #f8fafc;
}

.topbar {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar h1 {
  margin: 0;
  color: #1910c4;
  font-size: 24px;
}

.topbar nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.topbar a {
  color: #475569;
  text-decoration: none;
}

.topbar button {
  padding: 10px 18px;
  border: none;
  border-radius: 8px;

  background-color: #1910c4;
  color: white;
  cursor: pointer;
}

.hero {
  max-width: 800px;
  margin: 0 auto;
  padding: 120px 20px;
  text-align: center;
}

.subtitle {
  margin-bottom: 16px;
  color:#1910c4;
  font-weight: bold;
}

.hero h2 {
  margin: 0;
  color: #111827;
  font-size: 48px;
  line-height: 1.2;
}

.description {
  max-width: 600px;
  margin: 24px auto;
  color: #64748b;
  font-size: 18px;
  line-height: 1.6;
}

.hero-actions {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 30px;
}

.hero-actions button {
  padding: 14px 22px;
  border: none;
  border-radius: 8px;

  background-color: #1910c4;
  color: white;
  cursor: pointer;
}

.hero-actions a {
  padding: 14px 22px;
  color: #1910c4;
  text-decoration: none;
}

.topbar button:hover,
.hero-actions button:hover {
  background-color: #1910c4;
}